parameters:
  level: max
  paths:
    - src
    - tests
    - templates
    - public
    - migrations
    - config
    - bin
  ignoreErrors:
    -
      message: '#Cannot call method getOwner\(\) on mixed.#'
      path: src/Security/Voter/ExampleResourceEntityVoter.php
